@layer components{
    .navbarTop {
        @apply shadow-lg sm:shadow-2xs grid grid-cols-2 gap-2 bg-white p-2;
    }

    .navbarIcon {
        @apply min-w-[150px] max-w-[30%] sm:w-[40%] ml-0 sm:ml-[80px];
    }

    .dropdownNavbarProfile{
        @apply border border-gray-200 bg-white absolute top-[100%]   w-[70%] sm:w-[40%] md:mr-12
    }
    .dropdownNavbarProfile .cardMenu{
        @apply p-2 border border-gray-200 rounded-sm
    }
}